:root {
    --color-border: #000000 !important;
}

.ce-popover-indent-item {
    border-top: 1px solid #eff0f1  !important;
    border-bottom: 1px solid #eff0f1  !important;
    border-radius: 0  !important;
    padding-top: 9px  !important;
    padding-bottom: 8px  !important;
    margin-top: 5px  !important;
    margin-bottom: 5px  !important;
}

.ce-popover-indent-item span {
    margin: 0  !important;
}

.ce-popover-item-html div {
    display: flex  !important;
    justify-content: space-between  !important;
}

.tc-table, .tc-row, .tc-cell {
    border-color: #000000 !important;
}

.tc-cell:first-child {
    border-left: 1px solid #000000 !important;
}

.tc-cell {
    text-align: left;
}

.image-tool__image-picture {
    display: inline-block !important;
}
