body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    color: #333333;
    background-color: #fff;
    overflow-y: hidden;
}

.editor-container {

}

body.editorjs-dev {
    overflow-y: auto;
}

div[data-focused] .ce-block__content {
    background-color: #f0f8ff;
}

.ce-popover-indent-item {
    border-top: 1px solid #eff0f1  !important;
    border-bottom: 1px solid #eff0f1  !important;
    border-radius: 0  !important;
    padding-top: 9px  !important;
    padding-bottom: 8px  !important;
    margin-top: 5px  !important;
    margin-bottom: 5px  !important;
}

.ce-popover-indent-item span {
    margin: 0  !important;
}

.ce-popover-item-html div:not(.change-case-action):not(.placeholder-action) {
    display: flex  !important;
    justify-content: space-between  !important;
}

.tc-table, .tc-row, .tc-cell {
    border-color: #000000 !important;
}

.tc-cell:first-child {
    border-left: 1px solid #000000 !important;
}

.tc-cell {
    text-align: left;
}

.image-tool__image-picture {
    display: inline-block !important;
}

.ce-popover-item-html[data-item-name="changeCase"] svg {
    fill: #000000 !important;
    color: transparent;
}

.ce-popover-item-html[data-item-name="changeCase"] {
    padding-top: 2px;
}

.placeholder-action {
    z-index: 90;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.placeholder-tool {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.placeholder-tool:hover {
    background: #eff2f5;
}

.placeholder-toolbar__label {
    color: #707684;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .33px;
    padding: 10px 10px 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.ce-popover--inline .ce-popover__items:has(.placeholder-action) {
    overflow-y: scroll !important;
}
